alabaster==0.7.12
awscli==1.16.116
Babel==2.6.0
botocore==1.12.106
certifi==2019.3.9
chardet==3.0.4
Click==7.0
colorama==0.3.9
coverage==4.5.2
cycler==0.10.0
docutils==0.14
entrypoints==0.3
featexp==0.0.5
flake8==3.7.7
idna==2.8
imagesize==1.1.0
Jinja2==2.10
jmespath==0.9.4
kiwisolver==1.0.1
MarkupSafe==1.1.1
matplotlib==3.0.2
mccabe==0.6.1
numpy==1.15.4
packaging==19.0
pandas==0.23.4
pyasn1==0.4.5
pycodestyle==2.5.0
pyflakes==2.1.1
Pygments==2.3.1
pyparsing==2.3.1
python-dateutil==2.8.0
python-dotenv==0.10.1
pytz==2018.9
PyYAML==3.13
requests==2.21.0
rsa==3.4.2
s3transfer==0.2.0
scipy==1.2.1
six==1.12.0
snowballstemmer==1.2.1
Sphinx==1.8.4
sphinxcontrib-websupport==1.1.0
urllib3==1.24.1
xgboost==0.82
